#/etc/systemd/system/unlocker-daemon
#systemctl enable unlocker-daemon


[Unit]
Description=unlocker-daemon

[Service]
ExecStart=/usr/bin/python /home/maxchehab/Projects/remote-linux-unlocker/linux-daemon/unlocker-daemon.py

[Install]
WantedBy=multi-user.target
